# Dependency directories
node_modules/
package-lock.json
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Cache
.cache
.eslintcache
.npm
.env
.stylelintcache

# OS
.directory
.Trash-*
.nfs*
.DS_Store
Desktop.ini
$RECYCLE.BIN/

# Editors
*.sublime-project
*.sublime-workspace
.vscode/*

# Thumbnails
._*
Thumbs.db

# Logs
logs
*.log
npm-debug.log*

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.rej
*.vi
*.zip
*~
