/* ACCESSIBILITY */

/**
 * https://github.com/barcia/standarize/issues/7
 */
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-delay: -1ms !important;
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-delay: 0s !important;
		transition-duration: 0s !important;
		scroll-behavior: auto !important;
	}
}
