/* BASE */

:root {
  font-family: system-ui;
  cursor: default;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}
