/* FORMS */

:where(button, input, optgroup, select, textarea) {
	font-family: inherit;
	font-size: 1em;
	margin: 0;
}

:where(button, [type="button"], [type="reset"], [type="submit"]) {
	appearance: button;
}

:where(progress) {
	max-width: 100%;
	vertical-align: baseline;
}

:where(::-webkit-file-upload-button) {
	font: inherit;
	appearance: button;
}

:where([type="search"]) {
	outline-offset: -2px;
	appearance: textfield;
}

:where([type="search"]::-webkit-search-decoration) {
	appearance: none;
}

:where([type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button) {
	height: auto;
}
