/* TEXT SEMANTICS */

:where(code, kbd, samp) {
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Roboto Mono", "Noto Mono", monospace;
	font-size: 0.9em;
}

:where(b, strong) {
	font-weight: bolder;
}

:where(small) {
	font-size: 0.85em;
}

:where(sub, sup) {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

:where(sub) {
	bottom: -0.25em;
}

:where(sup) {
	top: -0.5em;
}

:where(abbr[title]) {
	text-decoration: underline;
	text-decoration: underline dotted;
}
