abbr[title] {
	text-decoration: underline dotted;
}

// pre,
code,
kbd,
samp {
	font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace; /* 1 */
	font-size: 0.9em; /* 2 */
}


b,
strong {
	font-weight: bolder;
}

small {
	font-size: 0.85em;
}

sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}





// <a>	The HTML <a> element (or anchor element), along with its href attribute, creates a hyperlink to other web pages, files, locations within the same page, email addresses, or any other URL.
// <abbr>	The HTML Abbreviation element (<abbr>) represents an abbreviation or acronym; the optional title attribute can provide an expansion or description for the abbreviation.
// <b>	The HTML Bring Attention To element (<b>)  is used to draw the reader's attention to the element's contents, which are not otherwise granted special importance.
// <bdi>	The HTML Bidirectional Isolate element (<bdi>)  tells the browser's bidirectional algorithm to treat the text it contains in isolation from its surrounding text.
// <bdo>	The HTML Bidirectional Text Override element (<bdo>) overrides the current directionality of text, so that the text within is rendered in a different direction.
// <br>	The HTML <br> element produces a line break in text (carriage-return). It is useful for writing a poem or an address, where the division of lines is significant.
// <cite>	The HTML Citation element (<cite>) is used to describe a reference to a cited creative work, and must include the title of that work.
// <code>	The HTML <code> element displays its contents styled in a fashion intended to indicate that the text is a short fragment of computer code.
// <data>	The HTML <data> element links a given content with a machine-readable translation. If the content is time- or date-related, the <time> element must be used.
// <dfn>	The HTML Definition element (<dfn>) is used to indicate the term being defined within the context of a definition phrase or sentence.
// <em>	The HTML <em> element marks text that has stress emphasis. The <em> element can be nested, with each level of nesting indicating a greater degree of emphasis.
// <i>	The HTML <i> element represents a range of text that is set off from the normal text for some reason. Some examples include technical terms, foreign language phrases, or fictional character thoughts. It is typically displayed in italic type.
// <kbd>	The HTML Keyboard Input element (<kbd>) represents a span of inline text denoting textual user input from a keyboard, voice input, or any other text entry device.
// <mark>	The HTML Mark Text element (<mark>) represents text which is marked or highlighted for reference or notation purposes, due to the marked passage's relevance or importance in the enclosing context.
// <q>	The HTML <q> element indicates that the enclosed text is a short inline quotation. Most modern browsers implement this by surrounding the text in quotation marks.
// <rb>	The HTML Ruby Base (<rb>) element is used to delimit the base text component of a  <ruby> annotation, i.e. the text that is being annotated.
// <rp>	The HTML Ruby Fallback Parenthesis (<rp>) element is used to provide fall-back parentheses for browsers that do not support display of ruby annotations using the <ruby> element.
// <rt>	The HTML Ruby Text (<rt>) element specifies the ruby text component of a ruby annotation, which is used to provide pronunciation, translation, or transliteration information for East Asian typography. The <rt> element must always be contained within a <ruby> element.
// <rtc>	The HTML Ruby Text Container (<rtc>) element embraces semantic annotations of characters presented in a ruby of <rb> elements used inside of <ruby> element. <rb> elements can have both pronunciation (<rt>) and semantic (<rtc>) annotations.
// <ruby>	The HTML <ruby> element represents a ruby annotation. Ruby annotations are for showing pronunciation of East Asian characters.
// <s>	The HTML <s> element renders text with a strikethrough, or a line through it. Use the <s> element to represent things that are no longer relevant or no longer accurate. However, <s> is not appropriate when indicating document edits; for that, use the <del> and <ins> elements, as appropriate.
// <samp>	The HTML Sample Element (<samp>) is used to enclose inline text which represents sample (or quoted) output from a computer program.
// <small>	The HTML <small> element represents side-comments and small print, like copyright and legal text, independent of its styled presentation. By default, it renders text within it one font-size small, such as from small to x-small.
// <span>	The HTML <span> element is a generic inline container for phrasing content, which does not inherently represent anything. It can be used to group elements for styling purposes (using the class or id attributes), or because they share attribute values, such as lang.
// <strong>	The HTML Strong Importance Element (<strong>) indicates that its contents have strong importance, seriousness, or urgency. Browsers typically render the contents in bold type.
// <sub>	The HTML Subscript element (<sub>) specifies inline text which should be displayed as subscript for solely typographical reasons.
// <sup>	The HTML Superscript element (<sup>) specifies inline text which is to be displayed as superscript for solely typographical reasons.
// <time>	The HTML <time> element represents a specific period in time.
// <tt>	The obsolete HTML Teletype Text element (<tt>) creates inline text which is presented using the user agent's default monospace font face.
// <u>	The HTML Unarticulated Annotation Element (<u>) represents a span of inline text which should be rendered in a way that indicates that it has a non-textual annotation.
// <var>	The HTML Variable element (<var>) represents the name of a variable in a mathematical expression or a programming context.
// <wbr>
